.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 12px;
}

.logo-container ion-img {
  width: 120px;
  height: auto;
  border-radius: 12px;
}

.custom-searchbar {
  --border-radius: 15px;
  --background: #d2dbff;
  --color: #007baf;
  --box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

ion-card {
  margin: 10px 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}

ion-card:hover {
  transform: scale(1.01);
}

ion-card-header {
  padding: 8px 12px;
}

.titulo-tarea {
  font-size: 1rem;
  font-weight: bold;
  color: #1e60ee;
  margin: 0;
}

.card-content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px 12px;
  font-size: 0.95rem;
}

.estado-badge {
  font-size: 0.85rem;
  height: 22px;
  padding: 4px 10px;
  border-radius: 8px;
  text-transform: capitalize;
}